# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/
build

# Misc
*.pem
.DS_Store
*.notes

# Debug
npm-debug.log*
pids
logs
results

# Visual Studio code coverage results
*.coverage
*.coveragexml